.options {
    /* border: 1px red solid; */
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.options button {
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    padding: 1.5rem 1.8rem;
    background-color: #bada55;
    cursor: pointer;
    color: white;
    font-size: 3rem;
}

.options button:focus,
.options button:hover {
    background-color: #b1df54;
    outline: 0;
}

.options .new-post > button > i {
    
}

.options .user {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    color: white;
    
}

.options .user > .login {
    color: white;
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
}

.options .user > .logout {
    margin-left: 5px;
    font-size: 1.5rem;
    align-self: center;
    cursor: pointer;
}

.options .user > p {
    font-size: 1.35rem;
    align-self: center;
}