.options {
    /* border: 1px red solid; */
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.options button {
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    padding: 1.5rem 1.8rem;
    background-color: #bada55;
    cursor: pointer;
    color: white;
    font-size: 3rem;
}

.options button:focus,
.options button:hover {
    background-color: #b1df54;
    outline: 0;
}
