@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";
@import "./hero.css";
@import "./loaders.css";
@import "./options.css";

/*
* Ads cards
*/
.card > .card-content > .media > .media-content {
  overflow: hidden;
}

.card > .card-content > .content > .post-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.card > .card-content time {
    color: grey;
    font-size: .8rem;
}

figure.image.list {
  cursor: pointer;
}

/* 
* Notifications
*/
@keyframes hideMessage {
  0% {
    opacity: 1;
    height: 44px;
    line-height: 100%;
  }
  50% {
    opacity: 0;
    height: 44px;
    line-height: 100%;

  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
  }
}

.message {
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 99;
}

/*
* New post form
*/

.textarea {
  border-radius: 20px;
  border: 5px solid transparent;
  box-shadow: 0 0 0 1px rgb(211, 211, 211)
}

/*
* No results
*/

.main > .no-results-icon {
  font-size: 8rem;
  text-align: center;
}

.main > .no-results-header {
  font-size: 3rem;
  text-align: center;
}

.main > .no-results-text {
  font-size: 2rem;
  text-align: center;
}

/*
* Search field
*/

.search-element {
  margin-top: 1rem;
}

.search-element > .search-form > #search-icon {
  position: relative;
  top: -30px;
  left: 12px;
  cursor: pointer;
}

.search-element > .search-form > #search-field {
  background-color: #48c773;
  border: 1px solid white;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  padding-left: 1rem;
  transition: all ease .3s;
  color: rgba(0, 0, 0, 0)
}

.search-element > .search-form > #search-field:focus {
  width: 190px;
  color: rgba(255, 255, 255, 1);
  outline: none;

}

.search-element > .search-form > #search-field:focus ~ #search-icon {
  left: 160px;
}
